body {
    overflow: hidden !important;
}

#game,
#gameholder,
#flashframecontent,
#maingamecontent {
    position: unset !important;
}

k-navbar,
#ot-sdk-btn-floating,
widgetbot-crate {
    display: none !important;
}

#gameiframe {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 1000;
}
